[submodule "ao-dao-api"]
	path = ao-dao-api
	url = git@github.com:aoindustries/ao-dao-api.git
[submodule "ao-dao-base"]
	path = ao-dao-base
	url = git@github.com:aoindustries/ao-dao-base.git
[submodule "ao-dao-dbc"]
	path = ao-dao-dbc
	url = git@github.com:aoindustries/ao-dao-dbc.git
