[submodule "api"]
	path = api
	url = git@github.com:aoindustries/ao-dao-api.git
	branch = .
[submodule "base"]
	path = base
	url = git@github.com:aoindustries/ao-dao-base.git
	branch = .
[submodule "dbc"]
	path = dbc
	url = git@github.com:aoindustries/ao-dao-dbc.git
	branch = .
